.sidebar-wrapper {
  display: flex;
  position: fixed;
  top: 102px;
  left: 50px;
  flex-direction: column;
  border: 5px solid rgb(245, 188, 66);
  background: gainsboro;
  border-radius: 1rem;
  padding: 40px;
  text-align: left;
}

.sidebar-wrapper a:hover {
  text-decoration: underline;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: unset;
}
