.App {
  position: relative;
  text-align: center;
  width: inherit;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: inherit;
}

.item-container {
  position: relative;
  background: gray;
  border: 2px solid rgb(204, 201, 201);
  border-radius: 1rem;
  margin: 0.5rem;
  font-size: 24px;
  width: 50%;
}

.item-container:hover {
  background-color: rgb(71, 71, 71);
}

.item,
.item-actions,
.item-header {
  display: flex;
}

.item-header {
  width: 100%;
  position: static;
  margin-top: 30px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  justify-content: space-between;
  margin: 14px;
}

.item-details {
  text-align: left;
}

.item-actions {
  flex-direction: column;
}

button {
  font-weight: 700;
  font-size: medium;
}

.item-actions > button {
  margin-bottom: 10px;
}

.item-actions button:hover,
.item-header button:hover {
  background-color: rgb(240, 170, 21) !important;
}

.delete-element {
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 16px;
}
